<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
        <td>account_number</td>
        <td>account_type</td>
        <td>balance</td>
        <td>name</td>
        <td>wallet</td>
        </th>
         {%for account in accounts%}
         <tr>
        <td> {{account.account_number}}</td>
        <td> {{account.account_type}}</td>
        <td> {{account.balance}}</td>
        <td> {{account.name}}</td>
        <td> {{account.wallet}}</td>
    </tr>
    {% endfor %}
    
   
</body>
</html>