<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> {{card.date_Issued}}</h2>
    <h2> {{card.card_name}}</h2>
    <h2> {{card.card_number}}</h2>
    <h2> {{card.card_type}}</h2>
    <h2> {{card.expiry_date}}</h2>
    <h2> {{card.card_status}}</h2>
    <h2> {{card.cvv_security}}</h2>
    <h2> {{card.wallet}}</h2>
    <h2> {{card.account}}</h2>   
</body>
</html>