<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Edit Receipt registration</h2>
    <form method="post" novalidate class="form">   {% csrf_token %}
      <div class="overlay overlay-a"></div>
        <div class="row">
          <div class="col-5">
            {{ form.as_p  }}
         
            <button type="submit" class="btn btn-success">Save</button>
      </form>
</body>
</html>