<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
        <td>loan_number</td>
        <td> loan_type</td>
        <td> amount</td>
        <td>date</td>
        <td>wallet</td>
        <td>interest_rate</td>
        <td>guaranter</td>
        <td> due_date</td>
        <td>loan_balance</td>
        <td>loan_term</td>
        </th>
         {%for loaan in loans%}
         <tr>
        <td> {{looan.loan_number}}</td>
        <td> {{looan.loan_type}}</td>
        <td> {{looan.amount}}</td>
        <td> {{looan.date}}</td>
        <td> {{looan.wallet}}</td>
        <td> {{looan.interest_rate}}</td>
        <td> {{looan.guaranter}}</td>
        <td> {{looan.due_date}}</td>
        <td> {{looan.loan_balance}}</td>
        <td> {{looan.loan_term}}</td>
    </tr>
    {% endfor %}
    
   
</body>
</html>