<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
        <td>receipt_type</td>
        <td>receipt_date</td>
        <td>recipt_number</td>
        <td>account</td>
        <td>transaction</td>
        <td>recipt_File</td>
        </th>
         {%for rece in receiptss%}
         <tr>
        <td> {{rece.receipt_date}}</td>
        <td> {{rece.receipt_type}}</td>
        <td> {{rece.receipt_number}}</td>
        <td> {{rece.account}}</td>
        <td> {{rece.recipt_File}}</td>
    </tr>
    {% endfor %}
    
   
</body>
</html>