<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Transaction info</h1>
    <h2> {{transaction.transaction_ref}}</td>
        <h2> {{transaction.wallet}}</h2>
        <h2> {{transaction.amount}}</h2>
        <h2> {{transaction.transaction_type}}</h2>
        <h2> {{transaction.transaction_amount}}</h2>
        <h2> {{transaction.transaction_charge}}</h2>
</body>
</html>