<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wallet</title>
</head>
<body>
    <table>
        <th>
        <td>currency</td>
        <td>customer</td>
        <td>balance</td>
        <td>amount</td>
        <td>status</td>
        <td> pin</td>

        </th>
         {%for wallet in walletss%}
         <tr>
        <td> {{wallet.currency}}</td>
        <td> {{wallet.customer}}</td>
        <td> {{wallet.amount}}</td>
        <td> {{wallet.status}}</td>
        <td> {{wallet.pin}}</td>
        <td> {{wallet.balance}}</td>
        
        
    </tr>
    {% endfor %}
    
   
</body>
</html>